@font-face {
    font-family: SamsungSansRegular;
    src: url( fonts/SamsungSansRegular.ttf );
}

@font-face {
    font-family: SamsungSansLight;
    src: url( fonts/SamsungSansLight.ttf );
}

* { font-family: SamsungSansRegular, sans-serif; }

.head {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.subTittle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin: auto auto 10px auto;
    width: 40%;
}

.header_b {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 5px 5px;
}

.header_c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 10px 5px;
}

.containerSection {
    display: flex;
    margin: 20px auto;
    width: 100%;
    max-width: 470px;
    height: 230px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.header_eu {
    background-image: url('tools/european-union.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 20px;
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.header_us {
    background-image: url('tools/united-states.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 20px;
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.header_uk {
    background-image: url('tools/ukraine.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 20px;
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.containerFxData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    width: 100%;
    max-width: 700px;
    min-height: 230px;
    height: auto;
}

.fxData {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    max-width: 150px;
    width: 100%;
    height: 90%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin: auto;
    max-width: 450px;
    width: 100%;
    height: 50px;
}
